<footer class="background">
    <h6 class="footer">Privacy Policy</h6>
    <h6 class="app-footer">Copyright &copy; 2022 The Pianoroom. All rights reserved</h6>

    <p class="chris">Website by Chris Dias</p>

    <div class="socials">

        <a href="https://www.instagram.com/chrisdiaspiano/" target="_self">
            <span class="fa-stack tiny circle_social" style="
          background-color: #212529 !important;
          color: rgb(255, 255, 255) !important;
        ">
                <i class="social_icon fa fa-instagram"></i>
            </span>
        </a>
    </div>
</footer>