<div class="header">
    <h2>About</h2>
</div>
<div class="mainclass">
    <div class="left">
        <img [src]="background" alt="">
    </div>
    <div class="right">
        <p class="info">
            The Pianoroom is a Professional piano studio and an academy catering to all age groups both Online as well
            as one on one piano sessions on our Professional Yamaha C3 grand piano.
            Piano sessions are uniquely crafted to meet individual pupil’s needs which involve working on the very
            fundamentals of right piano playing and technique to minimise playing strain and facilitate effortless piano
            playing, as well as creating individual practice schedules for each pupil. Piano instructions at our
            Pianoroom is of an international level thus bringing out the best in every pupil both as a hobby or for
            professional grade exams from Trinity College and ABRSM.
            Along with this The Pianoroom is also a studio for Cinematic music production.
        </p>
    </div>
</div>