<div class="header">
    <h2>Our Founder</h2>
</div>
<div class="mainclass">
    <div class="left">
        <img [src]="image" alt="">
    </div>
    <div class="right">
        <p class="info">
            Gershwin Remedios is a professional pianist from Vasai, a small town on the outskirts of Mumbai. Gershwin
            had a liking for music from a very young age and started formal piano instructions at the age 12. Ever since
            then he started collaborating with many local artists and ensembles thus enchanting both music lovers and
            musicians alike. At age 18 Gershwin went on to study with the Renowned pianist and tutor Mrs. Roshan Chowna
            and non classical music and music of theory from Mr. Benedict D’silva in Mumbai, thus scoring various
            Distinctions in piano performance and theory exams. Thereafter he went on to study the Piano at the State
            University of Music and Performing Arts Stuttgart, Germany under the tutelage of the renowned Michael
            Hauber. Gershwin has also taken piano instructions and master classes from other top most pianists and piano
            tutors in Europe like Sibylle Joedicke, Chritos Marantos, Harald Ossberger, Andreas Bölcke.
            Apart from his Musicial Career Gershwin also pursues Business Studies and is currently completing his
            Masters in Management from Germany and is also an active Director in his Family business.
        </p>
    </div>

</div>